{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Featured Products</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card h-100 shadow">
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
                        {{ product.name }}
                    </a>
                </h5>
                <p class="card-text text-success">${{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}